body {
  display: grid;
  grid-template-columns: 1fr; /* Один стовпець для мобільних пристроїв */
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
  grid-gap: 10px; /* Розступ між елементами */
  height: 100vh;
  margin: 0;
}

.header {
  grid-area: header;
  border: solid 2px black;
  padding: 10px;
  text-align: center;
}

.nav {
  grid-area: nav;
  padding: 10px;
  border: solid 2px black;
  text-align: center;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: 3fr 1fr; /* Два стовпці для вмісту та бічної панелі */
  grid-template-areas:
    "content aside"; /* Макет для вмісту та бічної панелі */
  grid-gap: 10px; /* Розступ між вмістом та бічною панеллю */
}

.content {
  grid-area: content;
  border: solid 2px black;
  padding: 10px;
}

.aside {
  grid-area: aside;
  border: solid 2px black;
  padding: 10px;
}

.footer {
  grid-area: footer;
  border: solid 2px black;
  padding: 10px;
  text-align: center;
}

.link a {
  color: inherit;
  text-decoration: none;
}